# Ignore docs HTML from stats
prisma/docs/**/* linguist-documentation

# Ignore build output
dist/* linguist-generated
build/* linguist-generated

# Ignore dependencies
node_modules/* linguist-vendored

# Force TypeScript recognition
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
